<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Short URL Maker</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Short URL</a></li>
        <li><a href="#">QR Code</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Registration</a></li>
      </ul>
    </nav>

    <div class="reg-log wrap">
      <h1 class="h1">Registration</h1>
      <input
        pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
        placeholder="Email"
        id="email"
        name="email"
        type="text"
      />
      <input
        placeholder="Password"
        id="password"
        name="password"
        type="password"
      />
      <input value="Login" class="btn" type="submit" />
    </div>

    <footer>&copy; 2025 Short URL Maker. All rights reserved.</footer>
  </body>
</html>
